# Exploración de datos sobre turismo en Quintana Roo 2019-2021

In [31]:
import numpy as np
import pandas as pd
import keplergl

# Cargando los datos
**Fuentes:**
- [Listado de museos y zonas arqueológicas abiertas al público](https://datos.gob.mx/busca/dataset/listado-de-museos-y-zonas-arqueologicas-abiertas-al-publico)
- [Visitantes a muesos y zonas arqueológicas abiertas al público](https://datos.gob.mx/busca/dataset/visitantes-a-museos-y-zonas-arqueologicas-abiertas-al-publico)

In [32]:
df_coord = pd.read_csv('./data/inah_zonas_arqueologicas_museos_qr.csv', encoding='latin-1')
df_coord.head()

               Lugar        Lat        Lon
0  Caracol-Punta Sur  19.931041 -87.209422
1         Chacchoben  19.036686 -88.182366
2        Chakanbakán  18.451986 -89.091758
3             Calica  20.631488 -87.078732
4               Cobá  20.494742 -87.744866

In [33]:
visit_19 = pd.read_csv('./data/inah_visitantes_detallado_anual_2019.csv', encoding='latin-1')
visit_19.head()

,Estado,Clave SIINAH,Siglas,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel básico,527,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Entrada dominical,617,Nacional
2,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Boleto pagado,19,Extranjeros
3,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel superior,188,Nacional
4,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Boleto pagado,80,Nacional

In [34]:
visit_20 = pd.read_csv('./data/inah_visitantes_detallado_anual_2020.csv', encoding='latin-1')
visit_20.head()

,Estado,Clave SIINAH,Siglas,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2020,1,Estudiantes nivel básico,551,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2020,1,Entrada dominical,629,Nacional
2,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2020,1,Boleto pagado,34,Extranjeros
3,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2020,1,Estudiantes nivel superior,186,Nacional
4,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2020,1,Boleto pagado,169,Nacional

In [35]:
visit_21 = pd.read_csv('./data/inah_visitantes_detallado_anual_2021.csv', encoding='latin-1')
visit_21.head()

,Estado,Clave SIINAH,Siglas,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2021,1,Estudiantes nivel superior,0,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2021,1,Boleto pagado,0,Nacional
2,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2021,1,Exposiciones temporales con costo adicional,0,Extranjeros
3,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2021,1,Trabajadores INAH,0,Nacional
4,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2021,1,"Tercera edad, pensionados y jubilados",0,Nacional

# Limpieza de datos

En este caso, solo nos interesan las filas correspondientes al estado de Quintana Roo

## Filtramos las zonas arqueológicas y museos solo para Quintana Roo

In [36]:
def get_by_state(df, state):
    # Filtramos por estado
    df = df.query(f'Estado=="{state}"').copy()
    # Removemos las columnas que ya no necesitamos
    df.drop(['Estado', 'Clave SIINAH', 'Siglas'], axis=1, inplace=True)
    return df

In [37]:
visit_19_qr = get_by_state(visit_19, 'Quintana Roo')
print(visit_19_qr.value_counts('Centro de trabajo'))
print(visit_19_qr.shape)

Centro de trabajo
Museo Maya de Cancún con Z. A    156
Z.A. de Chacchoben               156
Z.A. de Cobá                     156
Z.A. de Dzibanché-Kinichná       156
Z.A. de El Meco                  156
Z.A. de El Rey                   156
Z.A. de Kohunlich                156
Z.A. de Muyil                    156
Z.A. de Oxtankah                 156
Z.A. de San Gervasio             156
Z.A. de Tulum                    156
Z.A. de Xcaret                   156
Z.A. de Xelhá                    156
dtype: int64
(2028, 6)

In [38]:
visit_20_qr = get_by_state(visit_20, 'Quintana Roo')
visit_20_qr.value_counts('Centro de trabajo')

Centro de trabajo
Museo Maya de Cancún con Z. A    156
Z.A. de Chacchoben               156
Z.A. de Cobá                     156
Z.A. de Dzibanché-Kinichná       156
Z.A. de El Meco                  156
Z.A. de El Rey                   156
Z.A. de Kohunlich                156
Z.A. de Muyil                    156
Z.A. de Oxtankah                 156
Z.A. de San Gervasio             156
Z.A. de Tulum                    156
Z.A. de Xcaret                   156
Z.A. de Xelhá                    156
dtype: int64

In [39]:
visit_21_qr = get_by_state(visit_21, 'Quintana Roo')
visit_21_qr.value_counts('Centro de trabajo')

Centro de trabajo
Museo Maya de Cancún con Z. A    117
Z.A. de Chacchoben               117
Z.A. de Cobá                     117
Z.A. de Dzibanché-Kinichná       117
Z.A. de El Meco                  117
Z.A. de El Rey                   117
Z.A. de Kohunlich                117
Z.A. de Oxtankah                 117
Z.A. de San Gervasio             117
Z.A. de Tulum                    117
Z.A. de Xcaret                   117
Z.A. de Xelhá                    117
Z.A. de Muyil                    104
dtype: int64

## Homologando los valores en la columna de ID

Gracias al conteo de valores únicos mostrado más arriba podemos ver que las únicas diferencias en los nombres en el dataset de visitas contra el dataset de coordenadas son los prefijos y sufijos que llevan "Z.A".

In [40]:
def clean_strings(df, column):
    df[column] = df[column].str.replace(' con Z. A', '')
    df[column] = df[column].str.replace('Z.A. de ', '')
    return df

In [41]:
# Limpiamos los nombres para 2019
visit_19_qr = clean_strings(visit_19_qr, 'Centro de trabajo')
visit_19_qr.head()

/tmp/ipykernel_488/3715948777.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(' con Z. A', '')
/tmp/ipykernel_488/3715948777.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('Z.A. de ', '')

,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
30810,Museo Maya de Cancún,2019,1,Trabajadores INAH,11,Nacional
30811,Museo Maya de Cancún,2019,1,"Tercera edad, pensionados y jubilados",196,Nacional
30812,Museo Maya de Cancún,2019,1,Exposiciones temporales con costo adicional,0,Nacional
30813,Museo Maya de Cancún,2019,1,Entrada sin costo,0,Extranjeros
30814,Museo Maya de Cancún,2019,1,Profesores,96,Nacional

In [43]:
# Limpiamos los nombres para 2020
visit_20_qr = clean_strings(visit_20_qr, 'Centro de trabajo')
visit_20_qr.head()

/tmp/ipykernel_488/3715948777.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(' con Z. A', '')
/tmp/ipykernel_488/3715948777.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('Z.A. de ', '')

,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
30888,Museo Maya de Cancún,2020,1,Estudiantes nivel básico,418,Nacional
30889,Museo Maya de Cancún,2020,1,Entrada dominical,"1,733",Nacional
30890,Museo Maya de Cancún,2020,1,Boleto pagado,"4,800",Extranjeros
30891,Museo Maya de Cancún,2020,1,Estudiantes nivel superior,207,Nacional
30892,Museo Maya de Cancún,2020,1,Boleto pagado,526,Nacional

In [44]:
# Limpiamos los nombres para 2021
visit_21_qr = clean_strings(visit_21_qr, 'Centro de trabajo')
visit_21_qr.head()

/tmp/ipykernel_488/3715948777.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(' con Z. A', '')
/tmp/ipykernel_488/3715948777.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('Z.A. de ', '')

,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
23283,Museo Maya de Cancún,2021,1,Trabajadores INAH,0,Nacional
23284,Museo Maya de Cancún,2021,1,"Tercera edad, pensionados y jubilados",134,Nacional
23285,Museo Maya de Cancún,2021,1,Exposiciones temporales con costo adicional,0,Nacional
23286,Museo Maya de Cancún,2021,1,Entrada sin costo,0,Extranjeros
23287,Museo Maya de Cancún,2021,1,Profesores,131,Nacional

In [45]:
visit_19_merged = pd.merge(df_coord, visit_19_qr, how='right', left_on='Lugar', right_on='Centro de trabajo')
visit_19_merged.head()

,Lugar,Lat,Lon,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2019,1,Trabajadores INAH,11,Nacional
1,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2019,1,"Tercera edad, pensionados y jubilados",196,Nacional
2,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2019,1,Exposiciones temporales con costo adicional,0,Nacional
3,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2019,1,Entrada sin costo,0,Extranjeros
4,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2019,1,Profesores,96,Nacional

In [47]:
visit_20_merged = pd.merge(df_coord, visit_20_qr, how='right', left_on='Lugar', right_on='Centro de trabajo')
visit_20_merged.head()

,Lugar,Lat,Lon,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2020,1,Estudiantes nivel básico,418,Nacional
1,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2020,1,Entrada dominical,"1,733",Nacional
2,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2020,1,Boleto pagado,"4,800",Extranjeros
3,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2020,1,Estudiantes nivel superior,207,Nacional
4,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2020,1,Boleto pagado,526,Nacional

In [48]:
visit_21_merged = pd.merge(df_coord, visit_21_qr, how='right', left_on='Lugar', right_on='Centro de trabajo')
visit_21_merged.head()

,Lugar,Lat,Lon,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2021,1,Trabajadores INAH,0,Nacional
1,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2021,1,"Tercera edad, pensionados y jubilados",134,Nacional
2,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2021,1,Exposiciones temporales con costo adicional,0,Nacional
3,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2021,1,Entrada sin costo,0,Extranjeros
4,Museo Maya de Cancún,21.073831,-86.77934,Museo Maya de Cancún,2021,1,Profesores,131,Nacional

# Crearmos nuestro bonito mapa

En el menú lateral izquierdo tenemos:
- Layers — Define cómo las variables se encuentran incrustadas en el mapa (recuerda que una variable es una columna en tus datos).
- Filters — Desde aquí podemos filtrar para obtener muestras más pequeñas de nuestro conjunto de datos.
- Interactions — Define las interacciones, como los tooltips, cajas de búsqueda, entro otras cosillas.
- Basemap — Define el estilo de el mapa del mundo y otros elementos, como etiquetas, carreteras y estilos.

## Personalicemos nuestro mapa
1. Generar una capa de puntos para ubicar los lugares en el mapa
2. Establecer el radio en función del número de visitas
3. Filtrar por mes
4. Añadir datos del 2020
5. Añadir transparencia a los puntos para determinar la diferencia en dimensiones
6. Añadir etiquetas de número de visitantes
7. Buscar un sitio en particular (Interactions > Geocoder)

In [49]:
kepler_map = keplergl.KeplerGl(height=600)
kepler_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=600)

In [50]:
kepler_map.add_data(data=visit_19_merged, name="visitantes")

/home/krax7/.local/share/virtualenvs/keplergl-maps-talentland-ybKO43lb/lib/python3.8/site-packages/jupyter_client/session.py:716: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [52]:
kepler_map.add_data(data=visit_20_merged, name="visitantes")

## Guardamos nuestro mapa para compartir ♥

In [51]:
kepler_map.save_to_html(file_name='output/html/visitantes_qr.html')

Map saved to output/html/visitantes_qr.html!